$colors: (
  primary: (
    darkest: #3A3A3A,
    base: #A0A0A0,
    lightest: #FFFFFF,
  ),

  success: (
    darkest: #264653,
    base: #2a9d8f,
    lightest: #9fede4
  ),
  warning: (
    darkest: #e76f51,
    base: #f4a261,
    lightest: #e9c46a
  ),
  danger: (
    darkest: #8c3737,
    base: #f74a4a,
    lighest: #ff9494
  )


) !default;

@function color($color, $complementary: null) {
  @if map-has-key($colors, $color) {
    $type: map-get($colors, $color);
    @if $complementary == null {
      @if type-of($type) == map {
        @return map-get(map-get($colors, $color), 'base');
      } @else {
        @return map-get($colors, $color);
      }
    } @else {
      @return map-get(map-get($colors, $color), $complementary);
    }
  }
}